html {
    font-family: 'Shantell sans', sans-serif;
}

header {
    background-color: #131212;
    padding: 3rem 2rem;
 }

header h1 {
    font-size: 4rem;
    text-align: center;
    color: rgb(243, 241, 239);
}

body {
    background-color: black;
}

h1 {
    font-size: 50px;
    text-align: center;
    color: rgb(228, 223, 217);
}

h2, h3 {
    font-size: 25px;
    text-align: center;
    color: rgb(230, 228, 225);
}

p {
    font-size: 20px;
    text-align: center;
    color: rgb(226, 220, 200)
}


 .slider-frame {
    width: 100%;
    height: auto;
    margin: 0;
    overflow: hidden;

 } 

.slider-frame ul {
    display: flex;
    padding: 0;
    width: 400%;

    animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
    list-style: none;
    width: 100%;
    height: auto;
}

.slider-frame img {
    width: 100%;
    height: 100%;
}


@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}

}


footer {
    background-color: #292828;
    padding: 3rem;
    color: rgb(224, 224, 220);
}


footer section {
    float: right;
}

footer p {
    margin: 0;
}

footer a {
    transition: color 0.3s ease;
    color: antiquewhite;
    text-decoration: none;
    text-align: right;
}

footer a:hover {
    color: rgb(189, 194, 204);
}


